# .flake8
[flake8]
max-line-length = 88
extend-ignore = E203, W503  # Конфликты с Black
exclude = .git, __pycache__, build, dist, .venv, venv
per-file-ignores =
    __init__.py: F401  # Разрешить неиспользуемые импорты в __init__.py
